#临时文件
log/
.log/
logs/
.logs/
*.log
*.log*
tmp/
.tmp/
tmps/
.tmps/
*.tmp
*.tmp*
temp/
.temp/
temps/
.temps/
*.temp
*.temp*
cache/
.cache/
caches/
.caches/
*.cache
*.cache*

#IDE
.idea/
.vscode/
.setting/
.settings/
.myeclipse/
.project/
.classpath/
.factorypath/
.classpath
.project
.mymetadata
*.iml
*.ipr
*.iws

#处理上传文件夹
upload/
uploads/

#压缩文件
*.tar.gz
*.war
*.nar
*.ear
*.zip
*.rar
*.7z

#软件
*.dll
*.exe
*.rpm

#Java
target/
*.class
*.jar

#Python
__pycache__/

#JavaScript
node_modules/